@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
    --font-input: 32px;
}

body {
    background-color: var(--off-white);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: white;
    width: 90%;
    /* margin: auto; */
    margin-block: 200px;
    padding: 50px 30px;
    border-radius: 30px 30px 90px 30px;
}

main form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs label {
    font-size: 14px;
    color: var(--smokey-grey);
    text-transform: uppercase;
    margin-block: 3px;
}

form input {
    width: 50px;
    height: 34px;
    padding: 8px 14px;
    border-radius: 7px;
    border: 1px solid var(--light-grey);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: var(--off-black);
    outline: none;
}

form input:focus-visible {
    outline: .5px solid var(--purple);
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 60px;
}

hr {
    height: 0px;
    width: 100%;
    border: 1px solid var(--light-grey)
}

.svg {
    background-color: var(--purple);
    position: absolute;
    border-radius: 50%;
    padding: 20px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.svg:hover {
    background-color: var(--off-black);
}

.display ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.display ul li {
    font-size: 40px;
    font-weight: 800;
    margin-block: 0;
}

span {
    color: var(--purple);
    padding: 0;
    margin: 0;
}

.alert {
    color: var(--light-red);
    font-size: 8px;
    margin-top: 5px;
}

.error {
    border: 1px solid var(--light-red);
}

@media screen and (min-width: 425px) {
    main {
        width: 70%;
        text-align: left;
    }


    main form {
        justify-content: space-between;
    }

    .inputs {
        margin-right: 10px;
    }

    .inputs label {
        font-size: 10px;
    }

    form input {
        width: 70px;
        padding: 8px 8px;
    }

    .divider {
        justify-content: flex-end;
    }

    .display ul li {
        font-size: 50px;
    }
}

@media screen and (min-width: 543px) {
    main {
        width: 700px;
    }

    main form {
        justify-content: flex-start;
    }

    .inputs {
        margin-right: 30px;
    }

    form input {
        width: 90px;
        height: 40px;
    }

    .divider {
        width: 90%;
    }

    .alert {
        font-size: 12px;

    }
}